@page
@model IndexModel
@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>API quick links</h2>

<ul>
    <li><a href="api/facility/001-00001">Facility</a></li>
    <li><a href="api/facility/001-00001/exists">Facility exists</a></li>
    <li><a href="api/facility/051-00149/acc-report/2019">ACC report</a></li>
    <li><a href="api/facility/001-00001/stack-test/202099999">Public stack test report</a></li>
    <li><a href="api/facility/001-00001/stack-test/202099999?includeConfidentialInfo=true">Stack Test report with confidential info</a></li>
    <li><a href="api/organization">Organization</a></li>
</ul>

<h2>Page quick links</h2>

<ul>
    <li><a href="facility/051-00149/acc-report/2019">ACC report</a></li>
    <li><a href="facility/001-00001/stack-test/202099999">Public stack test report</a></li>
    <li><a href="facility/001-00001/stack-test/202099999?includeConfidentialInfo=true">Stack Test report with confidential info</a></li>
</ul>
