@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>API quick links</h2>

<ul>
    <li><a href="api/organization">Organization</a></li>
    <li><a href="api/facility/001-00001/acc-report?year=2001">ACC report</a></li>
</ul>