@page
@model IndexModel
@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h2>Page quick links</h2>

<ul>
    <li><a href="/facility/001-00001/acc-report/2001">ACC report</a></li>
</ul>

<h2>API quick links</h2>

<ul>
    <li><a href="api/organization">Organization</a></li>
    <li><a href="api/facility/001-00001">Facility</a></li>
    <li><a href="api/facility/001-00001/exists">Facility exists</a></li>
    <li><a href="api/facility/001-00001/acc-report/2001">ACC report</a></li>
</ul>