@page
@model IndexModel
@{
    Layout = "_PageLayout";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="grid-half">
    <div>
        <h2>API quick links</h2>

        <ul>
            <li><a href="api/facility/001-00001">Facility</a></li>
            <li><a href="api/facility/001-00001/exists">Facility exists</a></li>
            <li><a href="api/facility/051-00149/acc-report/2019">ACC report</a></li>
            <li><a href="api/organization">Organization</a></li>
            <li>
                Stack tests
                <ul>
                    <li><a href="api/facility/12100021/stack-test/201100541">One Stack</a></li>
                    <li><a href="api/facility/12100021/stack-test/201100541?includeConfidentialInfo=true">One Stack, show confidential info</a></li>
                    <li><a href="api/facility/17900001/stack-test/202001297">One Stack, alternate</a></li>
                    <li><a href="api/facility/05900071/stack-test/201901149">Loading Rack</a></li>
                    <li><a href="api/facility/05900071/stack-test/201901149?includeConfidentialInfo=true">Loading Rack, show confidential info</a></li>
                    <li><a href="api/facility/05700040/stack-test/200400407">Flare</a></li>
                </ul>
            </li>
            <li><a href="api/facility/00100001/fce/7136">FCE report 1</a></li>
            <li><a href="api/facility/00100005/fce/8555">FCE report 2</a></li>
        </ul>
    </div>

    <div>
        <h2>Page quick links</h2>

        <ul>
            <li><a href="facility/051-00149/acc-report/2019">ACC report</a></li>
            <li>
                Stack tests
                <ul>
                    <li><a href="facility/12100021/stack-test/201100541">One Stack</a></li>
                    <li><a href="facility/12100021/stack-test/201100541?includeConfidentialInfo=true">One Stack, show confidential info</a></li>
                    <li><a href="facility/17900001/stack-test/202001297">One Stack, alternate</a></li>
                    <li><a href="facility/05900071/stack-test/201901149">Loading Rack</a></li>
                    <li><a href="facility/05900071/stack-test/201901149?includeConfidentialInfo=true">Loading Rack, show confidential info</a></li>
                    <li><a href="facility/05700040/stack-test/200400407">Flare</a></li>
                </ul>
            <li><a href="facility/00100001/fce/7136">FCE report 1</a></li>
            <li><a href="facility/00100005/fce/8555">FCE report 2</a></li>
        </ul>
    </div>
</div>