/* Document */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

html {
    position: relative;
    min-height: 100%;
}

html, body {
    font-size: 14px;
}

.preserve-linebreaks {
    white-space: pre-line;
}

/* EPD Banner */
.grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.grid__item {
    flex: 0 1 auto;
}

.grid__item_right {
    text-align: right;
}

.logo {
    width: 100%;
    max-width: 300px;
    min-width: 50px;
    padding-right: 10px;
}

.inside-address {
    display: inline-block;
    text-align: left;
    margin-top: .5rem;
    font-style: normal;
}

.director {
    font-weight: bold;
    padding-bottom: .5rem;
    border-bottom: 1px solid;
    margin-bottom: .5rem;
}

.branch {
    font-weight: bold;
}

.address {
    font-size: smaller;
}

/* Report layout */
.print-toolbar + main {
    margin-top: 1.5rem;
}

.page-wrapper {
    margin: 1rem 1.5rem;
    padding: 1.333rem;
    box-shadow: 0 0 1px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.12), 0 6px 8px rgba(0,0,0,0.12)
}

.print-toolbar {
    background: #eee;
    text-align: right;
    padding: .5rem 1.5rem;
    position: sticky;
    top: 0;
    box-shadow: 0 0 4px rgba(0,0,0,0.08), 0 4px 8px rgba(0,0,0,0.12), 0 12px 16px rgba(0,0,0,0.04);
}

    .print-toolbar button {
        padding: 4px 16px;
        margin-left: .5rem;
    }

/* Memorandum layout */

.memorandum header {
    border-bottom: 1px solid;
}

.memorandum h1 {
    font-size: inherit;
    text-transform: uppercase;
    text-decoration: underline;
}

.memorandum h2 {
    font-size: inherit;
    text-transform: uppercase;
}

.memorandum header dt {
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    clear: left;
    width: 6rem;
}

.memorandum header dd {
    margin-left: 7rem;
}

/* Tables */

.table-values-list {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

    .table-values-list tr + tr {
        border-top: 1px solid #777;
    }

    .table-values-list th {
        font-weight: normal;
        text-align: left;
        padding: .25rem 0;
    }

    .table-values-list td {
        text-align: center;
        padding: .25rem 1rem .25rem 2rem;
    }

/* Print styles */
@media print {
    html, body {
        font-size: 12px;
    }

    .print-toolbar, .test-site-banner {
        display: none;
    }

    .page-wrapper {
        margin: 0;
        padding: 0;
        box-shadow: none;
        break-after: page;
        page-break-after: always;
    }

    .logo {
        max-width: 250px;
    }
}
