html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

/* Half & half grid */

.grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

    .grid-half > div:first-child {
        border-right: 1px solid #bbb;
        padding-right: 1rem;
    }

    .grid-half > div:last-child {
        padding-left: 1rem;
    }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
