html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

/* Half & half grid */

.grid-half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
}

.grid-half > div:first-child {
    border-right: 1px solid #bbb;
    padding-right: 1rem;
}

.grid-half > div:last-child {
    padding-left: 1rem;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.banner-test-site {
    position: sticky;
    top: 0;
    z-index: 1020;
    opacity: .9;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    font-family: system-ui;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px white;
    background: repeating-linear-gradient(135deg, #f6da52bb, #f6da52bb 10px, #ffef80bb 10px, #ffef80bb 20px);
    box-shadow: 0 4px 8px rgba(130, 106, 15, 0.37);
}

/* Print styles */
@media print {
    html, body {
        font-size: 12px;
        color: #000;
        background: #fff;
    }

    .banner-test-site {
        position: static;
        box-shadow: none;
        text-shadow: none;
        border: 1px solid;
    }

    .banner-test-site::after {
        content: "— Not for public distribution";
    }
}
