/* Source: https://stackdiary.com/hover-tooltip-javascript/ */

/* styling of the tooltip display */
#tooltip-text {
    display: none;
    position: absolute;
    right: 1rem;
    z-index: 1;
    background: #00732c;
    padding: 8px;
    font-size: 1rem;
    color: #fff;
    border-radius: 2px;
    animation: fadeIn 0.6s;
}

/* optional styling to add a "wedge" to the tooltip */
#tooltip-text:before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 1%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-bottom: 8px solid #00732c;
}

#print-button:hover + #tooltip-text, #print-button:focus + #tooltip-text {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}