@model Domain.Organization.Models.OrganizationInfo
<div role="banner" class="nameplate split-lr">
    <div>
        <img class="logo" src="~/img/epd-logo.svg" alt="Georgia Environmental Protection Division" />
    </div>
    <div>
        <address>
            <div class="director">@Model.NameOfDirector, Director</div>
            <div class="branch">@Model.Org</div>
            <div class="address">
                @Html.DisplayFor(m => m.OrgAddress)
                @Model.OrgPhoneNumber
            </div>
        </address>
    </div>
</div>