@model Domain.Organization.Models.OrganizationInfo
<div role="banner" class="grid">
    <div class="grid__item">
        <img class="logo" src="~/img/epd-logo.svg" alt="Georgia Environmental Protection Division" />
    </div>
    <div class="grid__item grid__item_right">
        <address class="inside-address">
            <div class="director">@Model.NameOfDirector, Director</div>
            <div class="branch">Air Protection Branch</div>
            <div>
                4244 International Parkway, Suite 120<br />
                Atlanta, Georgia 30354<br />
                404-363-7000
            </div>
        </address>
    </div>
</div>