<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <partial name="_FaviconPartial" />
    <environment exclude="Production">
        <link rel="stylesheet" href="https://cdn.skypack.dev/sanitize.css/system-ui.css" />
    </environment>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <partial name="_TestSiteBannerPartial" />
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>