<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <partial name="_FaviconPartial" />
    @await RenderSectionAsync("Styles", false)
    <partial name="_RaygunScriptsPartial" />
</head>
<body class="@ViewBag.BodyCssClass">
<partial name="_TestSiteBannerPartial" />
@RenderBody()
@await RenderSectionAsync("Scripts", false)
</body>
</html>
