@{
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.skypack.dev/-/bootstrap@v5.2.2-rQQzEZiIuMxXgDelisA1/dist=es2019,mode=raw/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>