<div class="print-toolbar">
    <button id="print-button">🖨️ Print</button>
    <details>
        <summary style="list-style: none"> 🛈 </summary>
        <hr>
        <p>Printing is fun!</p>
    </details>
</div>