<div class="print-toolbar">
    <link rel="stylesheet" href="~/css/toolbar.css" type="text/css" />
    <button id="print-button">🖨️ Print</button>
    <p id="tooltip-text">&#8226; <b>To save the file as PDF</b>: Change the "Destination" to the "Save as PDF" option.<br> 
        &#8226; <b>To hide the date/url headers and footers on the printout</b>: Click on "More Settings", scroll all the way down to the bottom, and <mark>uncheck</mark> "Headers and footers"</p>
</div>