<div class="print-toolbar">
    <button id="print-button" type="button" aria-details="tooltip-text">🖨️ Print</button>
    <div id="tooltip-text">
        <ul>
            <li>
                <strong>To save the file as PDF:</strong> Select the Print button and change the “Destination” to the
                “Save as PDF” option.
            </li>
            <li>
                <strong>To hide the date/url headers and footers on the printout:</strong> Select “More Settings,”
                scroll all the way down to the bottom, and <em>uncheck</em> “Headers and footers.”
            </li>
        </ul>
    </div>
</div>
