<div class="print-toolbar">
    <link rel="stylesheet" href="~/css/toolbar.css" type="text/css" />
    <button id="print-button">🖨️ Print</button>
    <p id="tooltip-text">The boy walked down the street in a carefree way, playing without notice of what was about him. He didn't hear the sound of the car as his ball careened into the road. He took a step toward it, and in doing so sealed his fate.</p>
</div>