@{
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/sanitize.css" 
          integrity="sha256-+TDNmUgHd7MxBBh2xvqREEA8YK2rBRbEeDc7Sjm3w04=" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/report.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toolbar.css" asp-append-version="true" />
}

<partial name="_PrintToolbarPartial" />

<main role="main">
    @RenderBody()
</main>
<script asp-add-content-to-csp>
document.getElementById('print-button').addEventListener('click', function () { window.print(); return false; }, false);
</script>
