@{
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.skypack.dev/-/sanitize.css@v13.0.0-9hf8PtILaGjq3949IzOc/dist=es2019,mode=raw/sanitize.css" />
    <link rel="stylesheet" href="~/css/report.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toolbar.css" asp-append-version="true" />
}

<partial name="_PrintToolbarPartial" />

<main role="main">
    @RenderBody()
</main>
<script asp-add-content-to-csp>
document.getElementById('print-button').addEventListener('click', function () { window.print(); return false; }, false);
</script>
