@{
    Layout = "_Layout";
}

@section Styles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/sanitize.min.css"
          integrity="sha384-uTnOitfmTveD47tCvIL9OnkOnacJsq3LPv7lIoJosB2b5xYChkU73sV1Ar2fY7RT" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/report.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toolbar.css" asp-append-version="true" />
}

<partial name="_PrintToolbarPartial" />

<main role="main">
    @RenderBody()
</main>
<script asp-add-content-to-csp>
document.getElementById('print-button').addEventListener('click', function () { window.print(); return false; }, false);
</script>
