<environment exclude="Production">
    <div class="test-site-banner" style="position:sticky;top:0;z-index:1020;font-weight:700;font-size:16px;font-family:system-ui;text-transform:uppercase;text-align:center;text-shadow: 0 0 4px white;opacity:0.8;background:repeating-linear-gradient(135deg,#f6da52,#f6da52 10px,#ffef80 10px,#ffef80 20px);box-shadow:0 4px 8px rgba(130, 106, 15, 0.37);">
        Test Site
    </div>
</environment>